body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: #efdfe0;
}

header {
    background-color: #212121;
    padding-bottom: 10px;
}

.navbar {
    font-size: 24px;
    padding-top: 0px
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}


.navbar a {
    color: #efdfe0;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #9e009e;
}

.banner {
    background-color: #212121;
    text-align: center;
    font-size: 48px;
    margin: 50px 0;
    padding: 20px 0;
}

.about-section-left {
    display: flex;
    padding: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 550px;
    background: linear-gradient(to bottom right, #9e009e, #bd0596);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
    margin-right: 30px;
    font-size: 28px;
}

.about-image {
    height: 320px;
    width: auto;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    display: block;
    position: relative;
}

.about-section-right {
    display: flex;
    padding: 50px;
    margin-top: 20px;
    margin-left: 550px;
    margin-right: 50px;
    background-color: #706138;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.contact-section-left {
    display: flex;
    padding: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 550px;
    background-color: #706138;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-text {
    margin-right: 30px;
    font-size: 28px;
    line-height: 1.8;
}

.download-section-left {
    display: flex;
    padding: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 550px;
    background-color: #706138;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.download-text {
    margin-right: 30px;
    font-size: 24px;
    line-height: 1.8;
}